* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ff1492;
}

.bemCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 638px;
  width: 600px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bemCard__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24%;
}

.bemCard__mid {
  padding: 1.5rem;
  height: 38%;
}

.bemCard__bottom {
  padding: 1.5rem;
  height: 38%;
}

.bemCard__title {
  padding: 0.8rem 0;
}

.bemCard__title--big-text {
  font-size: 3rem;
}

.bemCard__title--medium-text {
  font-size: 2rem;
}

.bemCard--bg-yellow {
  background-color: #ffee00;
  color: #000;
}

.bemCard--bg-black {
  background-color: #000000;
  color: #fff;
}

.bemCard--bg-grey {
  background-color: #f8f8f8;
  color: #000;
}

.cardButton {
  padding: 14px 28px;
  margin: 20px 8px 0 0;
  border: none;
  outline: none;
  font-weight: 800;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cardButton--bg-yellow {
  color: #000;
  background-color: #ffee00;
}

.cardButton--bg-black {
  color: #fff;
  background-color: #000;
}

.cardButton:hover {
  background-color: #32cd32;
}
/*# sourceMappingURL=style.css.map */