* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #ff1492;
}

.bemCard {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 638px;
    width: 600px;
    transition: 0.3s;
    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24%;
    }
    &__mid {
        padding: 1.5rem;
        height: 38%;
    }
    &__bottom {
        padding: 1.5rem;
        height: 38%;
    }
    &__title {
        padding: 0.8rem 0;
        &--big-text {
            font-size: 3rem;
        }
        &--medium-text {
            fon  t-size: 2rem;
        }
    }
    &--bg-yellow {
        background-color: #ffee00;
        color: #000;
    }
    &--bg-black {
        background-color: #000000;
        color: #fff;
    }
    &--bg-grey {
        background-color: #f8f8f8;
        color: #000;
    }
}
.cardButton {
    padding: 14px 28px;
    margin: 20px 8px 0 0;
    border: none;
    outline: none;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s;
    &--bg-yellow {
        color: #000;
        background-color: #ffee00;
    }
    &--bg-black {
        color: #fff;
        background-color: #000;
    }
    &:hover {
        background-color: #32cd32;
    }
}
