.section {
  padding: 45px 25px;
  max-width: 1140px;
  margin: 0 auto;
  /* Hero */
  /* Dark */
  /* Light */
}
.section__heading {
  font-size: 2em;
  font-family: sans-serif;
}
.section__text {
  font-family: sans-serif;
}
.section__btn {
  padding: 12px 25px;
  margin: 0 8px 0 0;
  border: none;
  outline: none;
}
.section--hero {
  background-color: yellow;
  text-align: center;
}
.section--hero .section__heading {
  font-size: 4em;
}
.section--dark {
  background-color: #000;
  color: #fff;
}
.section--dark .section__btn {
  background-color: yellow;
  color: #000;
}
.section--light .section__btn {
  background-color: #000;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
