* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: deeppink;
}
.BemContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #d8d8d8;
    height: 638px;
    width: 600px;

    &__header {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 24%;
        background-color: #ffee00;
        color: #000;
        &--title {
            font-size: 3.5rem;
        }
    }
    &__body {
        padding: 0 1.5rem;
        height: 38%;
        background-color: black;
        color: #fff;
    }
    &__footer {
        padding: 0 1.5rem;
        height: 38%;
        background-color: #f8f8f8;
        color: #000;
    }
    &--title {
        padding: 2rem 0 1.5rem 0;
        font-size: 2.3rem;
    }
}
.button {
    display: inline-block;
    margin: 1rem 1rem 2rem 0;
    padding: 14px 32px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
    &--color-yellow {
        color: #000;
        background-color: #ffee00;
    }
    &--color-black {
        color: #fff;
        background-color: black;
    }
    &:hover {
        background-color: deeppink;
    }
}

img {
    position: absolute;
    top: 16%;
    left: 20px;
}
