* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: deeppink;
}

.BemContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #d8d8d8;
  height: 638px;
  width: 600px;
}

.BemContainer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24%;
  background-color: #ffee00;
  color: #000;
}

.BemContainer__header--title {
  font-size: 3.5rem;
}

.BemContainer__body {
  padding: 0 1.5rem;
  height: 38%;
  background-color: black;
  color: #fff;
}

.BemContainer__footer {
  padding: 0 1.5rem;
  height: 38%;
  background-color: #f8f8f8;
  color: #000;
}

.BemContainer--title {
  padding: 2rem 0 1.5rem 0;
  font-size: 2.3rem;
}

.button {
  display: inline-block;
  margin: 1rem 1rem 2rem 0;
  padding: 14px 32px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.button--color-yellow {
  color: #000;
  background-color: #ffee00;
}

.button--color-black {
  color: #fff;
  background-color: black;
}

.button:hover {
  background-color: deeppink;
}

img {
  position: absolute;
  top: 16%;
  left: 20px;
}
/*# sourceMappingURL=style.css.map */