.section {
    padding: 45px 25px;
    max-width: 1140px;
    margin: 0 auto;

    &__heading {
        font-size: 2em;
        font-family: sans-serif;
    }

    &__text {
        font-family: sans-serif;
    }

    &__btn {
        padding: 12px 25px;
        margin: 0 8px 0 0;
        border: none;
        outline: none;
    }

    /* Hero */
    &--hero {
        background-color: yellow;
        text-align: center;
    }

    &--hero &__heading {
        font-size: 4em;
    }

    /* Dark */
    &--dark {
        background-color: #000;
        color: #fff;
    }

    &--dark &__btn {
        background-color: yellow;
        color: #000;
    }

    /* Light */
    &--light &__btn {
        background-color: #000;
        color: #fff;
    }
}
