.shape {
  width: 600px;
  background-color: gray;
}

.section {
  padding: 54px 15px;
  font-family: sans-serif;
}
.section__heading {
  font-weight: 900;
  margin: 0;
}
.section--hero .section__heading {
  font-size: 3em;
  text-align: center;
}
.section--hero {
  background-color: yellow;
}
.section--light {
  background-color: white;
  color: black;
}
.section--dark {
  background-color: black;
  color: white;
}
.section--light, .section--dark {
  padding: 40px;
}
.section__button {
  padding: 16px 22px;
  margin-right: 7px;
  border: none;
  outline: none;
  font-weight: 700;
}
.section--light .section__button {
  background-color: black;
}
.section--dark .section__button {
  background-color: yellow;
}
.section--light .section__button {
  color: white;
}
.section--light .section__text {
  color: black;
}
.section--dark .section__text {
  color: white;
}

/*# sourceMappingURL=style.css.map */
