$font: sans-serif;
$yellow: yellow;
$black: black;
$white: white;

.shape {
    width: 600px;
    background-color: gray;
}

.section {
    padding: 54px 15px;
    font-family: $font;

    &__heading {
        font-weight:900;
        margin:  0;
    }

    &--hero &__heading{
        font-size: 3em;
        text-align: center;
    }

    &--hero {
        background-color: $yellow;
    }

    &--light {
        background-color: $white;
        color:  $black;
    }

    &--dark {
        background-color: $black;
        color: $white;
    }

    &--light, &--dark {
        padding: 40px;
    }

    &__button {
        padding: 16px 22px;
        margin-right: 7px;
        border: none;
        outline: none;
        font-weight: 700;
    }

    &--light &__button{
        background-color: $black;
    }    

    &--dark &__button{
        background-color: $yellow;
    }

    &--light &__button{
        color: $white;
    }

    &--light &__text {
        color: $black;
    }

    &--dark &__text {
        color: $white;
    }


}